.divisa123 {
    display: flex;
}

#se123 {
    background-color: bisque;
    width: 33%;
    height:100px;
    margin:1%;
    border-radius:10px;
    border-left:7px goldenrod solid ;
    color:black;
}

#se456 {
    background-color: bisque;
    width: 33%;
    height:100px;
    margin:1%;
    border-radius:10px;
    border-left:7px goldenrod solid ;
    color:black;
}

body {
    background-color: whitesmoke;
}

.imagens123456 {
    border-radius:100%;
    margin-left:1%;
}

h1 {
    margin: 0;
    padding: 0;
    margin-left:2%;
}