/*deixando os itens centralizados*/
body{
    text-align: center;
    margin: 0;
/*mudando a cor do botão*/
}
input{
    background-color: white;
/*alterando a cor do botão quando passar o cursor por cima do botão*/
}
#voltar:hover{
    background-color: white;
}
/*deixando o botão igual a aba de feedback*/
#voltar{
    background-color: goldenrod;
    border: none;
}
/*colocando sombra no texto para dar um tchan*/
h1{
    text-shadow: 5px 5px rgba(217, 165, 32, 0.36);
}
iframe{
    border: 0;
    margin: 0;
}
#iframef{
    margin-top: 1.5%;
}