/*deixando os itens centralizados*/
body{
    text-align: center;
/*mudando a cor do botão*/
}
input{
    background-color: white;
/*alterando a cor do botão quando passar o cursor por cima do botão*/
}
#voltar:hover{
    background-color: white;
}
#voltar{
    background-color: goldenrod;
    border: none;
}
h1{
    text-shadow: 5px 5px rgba(217, 165, 32, 0.36);
}