<!DOCTYPE HTML>
<html>

<head>
    <title>Header</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../assests/css/header.css">
    <link rel="icon" type="image/x-icon" href="../assests/images/logo.png">
</head>

<body>
    <header>
        <!--link anexado a imagem para quando for clicada abrir o menu.html-->
        <a href="../menu.html" target="_parent">
            <img src="../assests/images/logo.png" width="64" height="64" id="img1">
        </a>
        <nav>
            <ul>
                <!--esse é o nav que vai ajudar a navegar pelo site o enviando para respectivos home e feedback ao clicar-->
                <li><a href="../menu.html" target="_parent" id="nav1">Home</a></li>
                <li><a href="../pages/contato.html" target="_parent" id="nav1">Feedback</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>